* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
#wrapperInfo {
  background:linear-gradient(135deg, #ff3232 0%,#e89c40 100%);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100vH;
  margin: 0 auto;
}
#wrapTicket {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: 20px;
  border: 3px solid ;
  border-radius: 5px;
}
#wrapTicket h2 {
  text-transform: uppercase;
  color: #fff;
  font-size: 25px;
}
.wrapText {
  width: 100%;
  padding-top:10px;
  padding-bottom: 10px;
}
#totale {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

/*MEDIA QUERY*/
@media screen and (max-width: 768px) {
  #totale {
    font-size: 30px;
  }
}
@media screen and (max-width: 460px) {
  #totale {
    font-size: 25px;
  }
}
